body {
    font-family: 'Poppins', sans-serif;
    background-image: url(./assets/fondo.jpg);
    background-size: cover;
  background-position: center;
  position: relative;
    color: #a09f9f;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

section {
    padding: 60px 0;
    border: 1px solid #F7F7F7; /* Aquí se añade el borde */
    background-color: #ffffffda;
    margin: 20px 0; /* Añadimos un margen para separar las secciones */
    border-radius: 8px; /* Opcional: redondear las esquinas del borde */
}


h2 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    color: #8E3A62;
}


#contacto p {
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
    color: #8E3A62;
}

#contacto i {
    margin-right: 10px;
    color: #8E3A62;
}

#contacto .btn-block {
    margin-top: 20px;
    font-size: 18px;
}

#carouselInicio .carousel-item,
#carouselHistoria .carousel-item {
    height: 500px;
}

#carouselInicio .carousel-item img,
#carouselHistoria .carousel-item img {
    height: 100%;
    object-fit: cover;
}
.navbar{
    background-color: #8E3A62;
}
.brand-text{
    font-size: 1.5rem !important; /* Tamaño de fuente aumentado */
    font-weight: bold !important; /* Opcional: hacer el texto en negrita */
    color:rgba(0,0,0,.5);
}
.navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-nav .nav-link:hover {
    color: #D18BA5;
}
.btn-primary {
    background-color: #8E3A62;
    border: none;
}

.btn-primary:hover {
    background-color: #D18BA5;
}

.btn-success {
    background-color: #8E3A62;
    border: none;
}

.btn-success:hover {
    background-color: #D18BA5;
}
.visitor-count{
    font-size: 1.2em;
    margin: 20px;
    text-align: center; /* Opcional, centra el texto */
    color: #333; /* Ajusta el color del texto según el diseño de tu sitio */
}